<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>AI Resume Analyzer</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<div class="container">

    <h1>AI Resume Analyzer</h1>

    <input type="file" id="resume" accept=".pdf">

    <br><br>

    <button onclick="uploadResume()">
        Analyze Resume
    </button>

    <br><br>

    <div id="result"></div>

</div>

<script>

async function uploadResume() {

    const file = document.getElementById("resume").files[0];

    if (!file) {
        alert("Please select a resume.");
        return;
    }

    const formData = new FormData();
   formData.append("file", file);
    document.getElementById("result").innerHTML =
    "<h3>Analyzing Resume...</h3>";

    try {

        const response = await fetch("/upload", {
            method: "POST",
            body: formData
        });

        const data = await response.json();

        if(data.error){
            document.getElementById("result").innerHTML =
            "<h3 style='color:red'>" + data.error + "</h3>";
            return;
        }

       document.getElementById("result").innerHTML = `
<h2>Resume Analysis</h2>

<p><b>ATS Score:</b> ${data.ats_score}</p>

<p><b>Skills:</b> ${data.skills.join(", ")}</p>

<p><b>Missing Skills:</b> ${data.missing_skills.join(", ")}</p>

<p><b>Resume Text:</b></p>
<pre>${data.resume_text}</pre>
`;

    }
    catch(err){

        console.error(err);

        document.getElementById("result").innerHTML =
        "<h3 style='color:red'>Server Error</h3>";

    }

}

</script>

</body>
</html>